@model AspBlog.Models.Comments

<h2>Úprava komentáře</h2>

<div class="comment-form">
    <form asp-controller="Comments" asp-action="EditComment" method="post">
        <input type="hidden" name="id" value="@Model.Id" />

        <label for="content">Upravte komentář:</label>
        <textarea name="content" required>@Model.Content</textarea>

        <button type="submit">💾 Uložit změny</button>
        <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.GameId" class="comment-actions">❌ Zrušit</a>
    </form>
</div>
